[submodule "lib/FreeRTOS/freertos-kernel"]
	path = lib/FreeRTOS/freertos-kernel
	url =  https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "lib/FreeRTOS/freertos-plus-tcp"]
	path = lib/FreeRTOS/freertos-plus-tcp
	url =  https://github.com/FreeRTOS/FreeRTOS-Plus-TCP.git
[submodule "lib/FreeRTOS/mqtt-agent/coreMQTT"]
	path = lib/FreeRTOS/mqtt-agent/coreMQTT
	url =  https://github.com/FreeRTOS/coreMQTT.git
[submodule "lib/ThirdParty/mbedtls"]
	path = lib/ThirdParty/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "lib/FreeRTOS/coreJSON"]
	path = lib/FreeRTOS/coreJSON
	url =  https://github.com/FreeRTOS/coreJSON.git
[submodule "lib/AWS/ota"]
	path = lib/AWS/ota
	url = https://github.com/aws/OTA-for-AWS-IoT-embedded-SDK
[submodule "lib/FreeRTOS/utilities/backoffAlgorithm"]
	path = lib/FreeRTOS/utilities/backoffAlgorithm
	url = https://github.com/FreeRTOS/backoffAlgorithm
[submodule "lib/AWS/defender"]
	path = lib/AWS/defender
	url = https://github.com/aws/Device-Defender-for-AWS-IoT-embedded-sdk.git
[submodule "lib/FreeRTOS/coreMQTT-Agent"]
	path = lib/FreeRTOS/coreMQTT-Agent
	url = https://github.com/FreeRTOS/coreMQTT-Agent.git
