name: Build Demos
on:
  push:
    branches: ["**"]
  pull_request:
    branches: [main]
  workflow_dispatch:
jobs:
  windows_simualtor:
    name: Windows Simulator
    runs-on: windows-2019
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Fetch Submodules
      run: git submodule update --checkout --init --recursive

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1.1
      # with:
        # vs-version: 16.0
    - name: Build
      run: msbuild build\VisualStudio\mqtt_multitask_demo.sln -t:rebuild -property:Configuration=Debug

  qemu_arm:
    name: ARM Cortex-M3 QEMU ( mps2-an385 )
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Fetch Submodules
      run: git submodule update --checkout --init --recursive

    - name: Install Build Preqrequisites
      run: sudo apt install build-essential gcc-arm-none-eabi libnewlib-arm-none-eabi


    - name: Build
      working-directory: build/Cortex-M3_MPS2_QEMU_GCC
      run: make
